<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Employee List", "Index", "Employees", new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Add New Employee", "Create", "Employees", new { @class = "nav-link" })</li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-center text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">My Account</a>
                                    <a class="dropdown-item" href="#">Edit Profile</a>
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Logout", "Logout", "Home", new { @class = "nav-link text-center text-uppercase" })
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("About", "About", "Home", new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Register", "Register", "Home", new { @class = "nav-link float-left" })</li>
                            <li>@Html.ActionLink("Login", "Login", "Home", new { @class = "nav-link float-left" })</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Home", new { @class = "nav-link float-left" })</li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
        <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
             </ul>
        </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>